// mixin for decorative dots and lines
@mixin dotted-line($color, $bg-color, $line-offset-y, $dot-offset-x, $dot-offset-y) {
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
	}

	// the line
	&:before {
		width: 0.0625em;
		height: 100%;
		background: $color;
		top: $line-offset-y;
		left: 0;
		z-index: 222;
	}

	// the dot
	&:after {
		top: $dot-offset-y;
		left: $dot-offset-x;
		width: 0.5em;
		height: 0.5em;
		background: $bg-color;
		border: 0.0625em solid $color;
		border-radius: 50%;
		z-index: 333;
	}
}
